<Environment>
  <LogFile>log.log</LogFile>
  <Dialog>
  </Dialog>

  <Menu>
    <Name>Menu</Name>
    <Children>

      <BootScript>
        <Name>MAME</Name>
        <Path>./mame</Path>
      </BootScript>

      <LaunchFileMenu>
        <Name>NES</Name>
        <Target>./fceux</Target>
        <Directory>/Users/tom/Code/C/OpenDash/roms/nes</Directory>
        <StatusText>Nintendo Entertainment System (1983)</StatusText>
      </LaunchFileMenu>

      <XboxAction>
        <Name>Reboot</Name>
        <StatusText>Reboot Pi</StatusText>
        <Action>Reboot</Action>
      </XboxAction>

      <XboxAction>
        <Name>Shutdown</Name>
        <StatusText>Shutdown Pi</StatusText>
        <Action>Shutdown</Action>
      </XboxAction>

    </Children>
  </Menu>

</Environment>
